.grey-background{
  background-color: $grey;
}

.white-text{
  color: #fff;
}

.underline{
  &::after{
    content: "";
    display: block;
    width: 45px;
    height: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $blue;
  } 
  
  &--left{
    &::after{
     margin: 0; 
    }
  }
  
  &--white{
    &::after{
      background: #fff;
    }
  }
}

.mt-119{
  margin-top: 119px;
  @media only screen and (max-width: $lap-start){
    margin-top: 0;
  }
}

.divider{
  border-top: 2px solid #f0f0f0;
  margin-top: 60px !important;
}