$red: #d42626;
$blue: #00247d;
$blue-dark: darken($blue, 10%);
$grey: #ECECEC;
$main-font: 'Hind', sans-serif;
$text-color: #222;

// Breakpoints
$small-mobile-start: 340px;
$lap-start:         669px;
$desk-start:        960px;
