$red: #d42626;
$red-dark: darken($red, 10%);
$blue: #00247d;
$blue-dark: darken($blue, 10%);
$grey: #ECECEC;
$grey-dark: darken($grey, 10%);
$main-font: 'Hind', sans-serif;
$text-color: #222;

// Breakpoints
$small-mobile-start: 400px;
$lap-start:         669px;
$desk-start:        960px;
