.modal-wrap {
  opacity: 0;
  overflow: auto;
  visibility: hidden;
//   width: 100%;
  z-index: 99999999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modal-wrap.visible {
  opacity: 1;
  visibility: visible;
}

.modal-wrap .modal-container {
  background: #fff;
  margin: 1em;
  max-width: 100%;
  width: 600px;
  z-index: 100;
// //   visibility: hidden;
//   -webkit-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
//   &.visible{
//     opacity: 1;
//     visibility: visible;
//   }
}

.modal-wrap .modal-container .modal-header,  .modal-wrap .modal-container .modal-footer {
  background: $blue;
  float: left;
  width: 100%;
  position: relative;
}

.modal-wrap .modal-header .modal-title {
  color: #fff;
  float: left;
  font-size: 20px;
  margin: 0 30px 0 0;
  padding: 15px 30px;
}


.modal-wrap .modal-header .close-modal {
  background: transparent;
  position: absolute;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  float: right;
  right: 0;
  font-size: 40px;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal-wrap .modal-header .close-modal:hover { opacity: 1; }

.modal-wrap .modal-content {
  float: left;
  margin: 0;
  padding: 15px 30px;
  width: 100%;
  background: #FFF;
  p{
    margin-bottom: 20px;
  }
  form{
    #message{
      height: 60px;
    }
  }
}


.modal-wrap .modal-footer { text-align: center; }

.modal-wrap .modal-footer p {
  color: #ccc;
  font-size: 12px;
  font-style: italic;
  margin: 10px;
}

.modal-wrap .modal-footer a { color: #fff; }

.close-canvas {
    background-color: transparent;
    bottom: 0;
    cursor: pointer;
    height: 100vh;
    z-index: 999999;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
    &--active {
      display: block;
      background: rgba(0, 0, 0, 0.95);
      opacity: 1;
      visibility: visible;
    }
  }
