.page-banner{
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $lap-start) {
    margin-top: 83px;
    min-height: 250px;
  }
  &__title{
    color: $text-color;
    text-align: center;
    padding: 0 20px;
        line-height: 48px;
        font-size: 48px;
  }
}