body{
  font-family: $main-font; 
  background-color: $blue;
  position: relative;
  p{
    color: $text-color;
  }
  
//   a{
//     text-decoration: none;
//   }
  section{
    padding: 60px 0;
    background: #fff;
    h2{
      &:first-child{
       font-size: 32px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 50px;
        position: relative;
      }
    }
    p{
      margin-bottom: 20px;
    }
  }
  
  ul{
    margin-left: 40px;
    li{
      color: $text-color;
    }
  }

}