.footer{
  background-color: $grey;
  padding: 60px 0;
  background-position: center !important;
  background-size: cover !important;
  box-shadow: 0px 2px 16px -8px #000000;
  
  &__grid{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    align-items: flex-start;
    &__item{
      width: calc(25% - 20px);
      @media only screen and (max-width: $desk-start) {
        width: 100%;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      img{
        width: 90px;
        &.accreditation-logo{
          width: 60px;
          
        }
      }
      p{
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      &__title{
        text-transform: capitalize;
        font-size: 25px;
        position: relative;
        text-align: left;
        font-weight: 500;
      }
      
      &__list{
        margin-top: 30px;
        margin-left: 18px;
        list-style: none;
        li{
          a{
            text-decoration: none;
            color: $blue;
            line-height: 0;
          }
          &::before {
            content: "\2022";
            color: $red;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            font-size: 20px;
            margin-left: -1em;
                vertical-align: middle;
          }
        }
      }
      
      &__contact_list{
        margin-top: 30px;
        list-style-type: none;
        margin-left: -5px;
        li{
          position: relative;
          padding-left: 30px;
          margin-bottom: 15px;
          line-height: 24px;
          .icon {
              position: absolute;
              left: 0px;
              top: 0px;
              line-height: 24px;
              font-size: 17px;
              color: $red;
          }
        }
      }
      
      .default-link{
        text-decoration: none;
        color: $red;
        line-height: 0;
        &::after{
          content: '»';
          font-size: 36px;
          line-height: -5px;
          margin-left: 3px;
          vertical-align: sub;
        }
      }
    }
  }
}

.footer-credits{
  padding: 15px 0;
  background-color: $blue;
  &__grid{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    align-items: center;
    
    &__item{
      width: calc(50% - 20px);
      @media only screen and (max-width: $desk-start) {
        width: 100%;
        margin-bottom: 10px;
        text-align: center !important;
        &:last-child{
          margin-bottom: 0;
        }
      }
      p{
        color: #fff;
        a{
          color: inherit;
        }
      }
      &:nth-child(2){
        text-align:right;
      }
    }
  }
}


